debug/
target/
vendor/
out/
**/*.rs.bk
*.pdb

build/
*.egg-info/
__pycache__/
*.pyc
.venv/

data/

*.ply
*.gcloud

.DS_Store

assets/materials/
screenshots/
headless_output/
www/assets/

*.glb

tex/*.pdf
